@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #fff;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h5 {
	@apply text-sm;
}

.white-icon {
	filter: brightness(0) invert(1);
}

.delete {
	background-color: #f8585b;
}

.primary-blue-text {
	@apply text-[#065DC2];
}

.primary-blue-bg {
	@apply bg-blue-700;
}

.secondary-blue-bg {
	@apply bg-blue-500;
}

.faint-blue-bg {
	@apply bg-blue-100;
}

.app-black {
	@apply text-black;
}

.hover-text-color {
	@apply hover:text-blue-700;
}

.links {
	@apply mr-6 font-extrabold hover-text-color hover:cursor-pointer;
}

.p {
	@apply md:text-[15px] text-[13px];
}
